<mat-divider class="mt-5"></mat-divider>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="50px"
  class="m-5"
>
  <div style="text-align: center;">
    <img style="width: 40%;" src="../../assets/Smart Gym.png" alt="">
  </div>
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between"
    fxLayoutGap="100px"
    fxLayoutGap.xs="50px"
  >
    <p class="oculto">Pie de página</p>
    <div fxLayout="column">
      <p class="oculto">Smart Gym, 24, 7, Fitness Gym</p>
      <div><p>Smart Gym.</p></div>
      <div><a routerLink="/about" class="link"><mat-icon><i class="far fa-question-circle"></i></mat-icon> ¿Quiénes somos?</a></div>
      <div><a routerLink="/contact" class="link"><mat-icon><i class="far fa-comments"></i></mat-icon> Habla con nosotros.</a></div>
    </div>
    <div>
      <div>
          <p>Síguenos</p>
          <p class="oculto">en.</p>
      </div> 
      <div>
        <div><a routerLink="/about" class="link"><mat-icon><i class="fab fa-facebook"></i></mat-icon> Facebook</a></div>
        <div><a routerLink="/about" class="link"><mat-icon><i class="fab fa-youtube"></i></mat-icon> Youtube</a></div>
        <div><a routerLink="/about" class="link"><mat-icon><i class="fab fa-instagram"></i></mat-icon> Instagram</a></div>
        <div><a routerLink="/about" class="link"><mat-icon><i class="fab fa-twitter"></i></mat-icon> Twitter</a></div>
        <p class="oculto">.</p>
      </div>
    </div>
  </div>
  <div>
    <p class="primary-color mat-body">Sitio Desarrollado por DSP Web</p>
  </div>
</div>
<mat-divider></mat-divider>
<br />
<br />
<br />
