<div class="container">
    <div class="col-12 mt-5">
        <h1>Informacion clientes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="Nombre">Nombre</th>
                    <th scope="Edad">Apellido</th>
                    <th scope="Apellido">Edad</th>
                    <th scope="Correo">Correo</th>
                    <th scope="Activo">Activo</th>
                    <th scope="Fecha">Dia Inscripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="false" *ngFor="let cliente of clientes">
                    <td>{{cliente.data.Nombre}}</td>
                    <td>{{cliente.data.Apellido}}</td>
                    <td>{{cliente.data.Edad}}</td>
                    <td>{{cliente.data.Correo}}</td>
                    <td>{{cliente.data.Activo}}</td>
                    <td>{{cliente.data.DiaInscripcion}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-12 mt-5">
            <h1>Informacion Cursos</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="Nombre">Curso</th>
                        <th scope="Edad">Impartido por</th>
                        <th scope="Apellido">Hora</th>
                        <th scope="Correo">Ubicacion</th>
                        <th scope="Activo">Lugares Disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of cursos;index as i">
                        <td>{{curso.data.Curso}}</td>
                        <td>{{curso.data.Imparte}}</td>
                        <td>{{curso.data.Hora}}</td>
                        <td>{{curso.data.Ubicacion}}</td>
                        <td>{{curso.data.Lugares}}</td>
                        <td>
                            <div class="col-8">
                                <qrcode qrc-element-type="text" 
                                    [qrdata]= "cad.concat(salto,
                                    salto,cad1,cursos[i].data.Curso 
                                    ,salto,cad2,cursos[i].data.Imparte 
                                    ,salto,cad3,cursos[i].data.Hora 
                                    ,salto,cad4,cursos[i].data.Lugares
                                    ,salto,salto
                                    )" >
                                
                                
                                </qrcode >  
                            </div>  
                         </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>