<div
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
  id="toRead"
>
  <p class="oculto">Cursos Disponibles. Aqui tienes toda la gama de cursos disponibles.</p>
  <div class="img">
    <img src="../../assets/cursos.png" alt="" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <table>
        <tr>
          <p class="oculto">Primero se te dirá el nombre del</p>
          <th>Curso</th>
          <p class="oculto">. Después</p>
          <th>Impartido por</th>
          <p class="oculto">. Finalmente la</p>
          <th>Hora</th>
          <p class="oculto">.</p>
        </tr>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.data.Curso}}</td>
          <p class="oculto">,</p>
          <td>{{curso.data.Imparte}}</td>
          <p class="oculto">,</p>
          <td>{{curso.data.Hora}}</td>
          <p class="oculto">.</p>
        </tr>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
