<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
  id="toRead"
>
  <div class="img">
    <img src="../../assets/cursos.png" alt="" />
  </div>
  <div>
    <div class="mat-elevation-z8">
      <table>
        <tr>
          <th>Curso</th>
          <th>Impartido por</th>
          <th>Hora</th>
        </tr>
        <tr *ngFor="let curso of cursos">
          <td>{{curso.data.Curso}}</td>
          <td>{{curso.data.Imparte}}</td>
          <td>{{curso.data.Hora}}</td>
        </tr>
      </table>
    </div>
  </div>
  <app-footer></app-footer>
</div>
