<mat-toolbar color="primary" class="mat-typography">
  <div fxHide.gt-sm>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="home"><img src="../../assets/logomorado.png" alt="" /></a>
  </div>
  <div fxHide.gt-sm>
    <ng-container *ngIf="user$ | async as user; else login">
        <mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>unfold_more</mat-icon>
          <a matline>Perfil</a>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="ruta()">{{ user?.email }}</button>
          <button mat-menu-item (click)="onLogout()" *ngIf="user">
            Cerrar Sesion
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #login>
        <mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>unfold_more</mat-icon>
          <a matline>Mi Espacio</a>
        </mat-list-item>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="admin"><mat-icon>login</mat-icon>Login</a>
          <a mat-menu-item routerLink="registrar"><mat-icon>login</mat-icon>Registrar</a>
        </mat-menu>
      </ng-template>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.sm fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li>
        <a routerLink="curses"><mat-icon>whatshot</mat-icon>Cursos</a>
      </li>
      <li>
        <a routerLink="about"><mat-icon>emoji_people</mat-icon> Acerca de</a>
      </li>
      <li>
        <a routerLink="contact"><mat-icon>contact_phone</mat-icon> Contacto</a>
      </li>
      <li>
        <a routerLink="faq"
          ><mat-icon><i class="fas fa-info-circle"></i></mat-icon> FAQ</a
        >
      </li>
      
      <li>
        <ng-container *ngIf="user$ | async as user; else login">
          <mat-list-item [matMenuTriggerFor]="menu">
            <mat-icon>unfold_more</mat-icon>
            <a matline>Perfil</a>
          </mat-list-item>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="ruta()">{{ user?.email }}</button>
            <button mat-menu-item (click)="onLogout()" *ngIf="user">
              Cerrar Sesion
            </button>
          </mat-menu>
        </ng-container>
        <ng-template #login>
          <mat-list-item [matMenuTriggerFor]="menu">
            <mat-icon>unfold_more</mat-icon>
            <a matline>Mi Espacio</a>
          </mat-list-item>
          <mat-menu #menu="matMenu">
            <a mat-menu-item routerLink="admin"><mat-icon>login</mat-icon>Login</a>
            <a mat-menu-item routerLink="registrar"><mat-icon>login</mat-icon>Registrar</a>
          </mat-menu>
        </ng-template>
      </li>
    </ul>
  </div>
</mat-toolbar>
