<div
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
  class="mt-5"
>
  <div 
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
  class="mt-5">
    <div fxFlex="1 1 50%" class="ml-5">
      <h1 class="mat-h1 primary-color">Espacio del cliente</h1>
      <h3 class="mat-h3 accent-color">Accede a tu espacio para:</h3>
      <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="center"
        fxLayoutGap="30px"
        fxLayoutGap.xs="30px"
      >
        <mat-icon class="md-36">info_outline</mat-icon>
        <p>
          Acceder a la información relacionada con tu cuenta
        </p>
        <mat-icon class="md-36">sentiment_very_satisfied</mat-icon>
        <p>Ver los cursos a los que te has inscrito</p>
      </div>
    </div>
    <div
      fxFlex="1 1 50%"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    > 
        <h3 class="mat'h3 accent-color">Accede a tu cuenta</h3>
        <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-form-field class="example-full-width" >
            <mat-label>Email:</mat-label>
              <input matInput #correo type="email" formControlName="Correo" required>
          </mat-form-field>
          <mat-form-field class="example-full-width" >
            <mat-label>Contraseña:</mat-label>
              <input matInput type="password" formControlName="Contraseña" required>
          </mat-form-field>
          <div class="form-group">
              <simple-notifications></simple-notifications>
          </div>
          <div class="form-group">
              <a href="#" class="link" (click)="Restablecer(correo.value)">Olvidé mi contraseña</a>
          </div>
          <button mat-raised-button color="primary" class="block" type="submit">Ingresar</button>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
