
<div
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="0px"
  fxLayoutGap.xs="0"
  id='toRead'
>
<div>
</div>
  <div class="img">
    <img src="../../assets/bannerprin.png" alt="" />
  </div>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    class=""
  >
    <p class="oculto">Logra tus metas. Comienza una vida saludable, no dejes que la cuarentena arruine tus planes.</p>
    <div class="p-all" fxLayout="column">
      <p class="oculto">Sección principal.</p>
      <h1 class="mat-h1" class="primary-color">!ÚNETE A SMART GYM!</h1>
      <h1 class="mat-h1" class="primary-color">INSCRÍBETE EN LÍNEA</h1>
      <p class="oculto">.</p>
      <p class="mat-body">
        En tan sólo 2 minutos puedes ser parte del mejor gimnasio en Aguascalientes,
        México y en América Latina.
      </p>
      <button mat-raised-button color="primary">Ubica nuestro gimnasio</button>
      <p class="oculto">.</p>
    </div>
    <div class="p-all" fxLayout="column">
      <div fxLayout="row wrap" class="m-3 ">
        <mat-icon fxFlex="1 1 20%" color="accent"><i class="fas fa-laptop fa-2x"></i></mat-icon>
        <h3 class="mat-h3" fxFlex="1 1 80%" class="accent-color">
          ¿Sabes por que Smart Gym es un gimnasio inteligente?
        </h3>
      </div>
      <div fxLayout="row wrap" class="ml-5 mb-5">
        <div fxFlex="1 1 20%"></div>
        <a mat-button routerLink="/about" fxFlex="1 1 40%" color="accent">¿Cómo funciona Smart Gym?</a>
      </div>
      <mat-divider class="primary-color"></mat-divider>
      <div fxLayout="row" class="m-3">
        <mat-icon fxFlex="1 1 20%" color="accent"><i class="far fa-comments fa-2x"></i></mat-icon>
        <h3 class="mat-h3" fxFlex="1 1 80%" class="accent-color">
          Conoce todo lo que necesitas para ser usuario
        </h3>
        <p class="oculto">.</p>
      </div>
      <div fxLayout="row wrap" class="ml-5 mb-5">
        <div fxFlex="1 1 20%"></div>
        <a mat-button routerLink="/faq" fxFlex="1 1 40%" color="accent">Sección de FAQ</a>
        <p class="oculto">.</p>
      </div>
    </div>
  </div>
  <div fxFlexAlign="center">
    <h1 class="mat-h1">SOMOS <span class="primary-color">SMART.</span></h1>
  </div>
  <div fxFlexAlign="center" class="centrado">
    <p>Inaugurado en el 2020 en México, Smart Gym fue creado con el propósito de democratizar<br>
    el fitness de alta calidad, es decir, hacer accesible la práctica de actividad física para <br> 
    todos. <span class="accent-color">Con planes accesibles, fácil inscripción y sin complicaciones.</span></p>
  </div>
  <div fxFlexAlign="center" class="mt-5">
    <h1 class="mat-h1" class="mt-3">LO QUE<span class="primary-color"> SMART OFRECE.</span></h1>
  </div>
  <div class="img">
    <img src="../../assets/pareja2banner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart HIIT.</h1>
    <p>Entrenamiento de alta intensidad que se realiza en el salón de clases, en la cual los <br>
      participantes acompañan los diferentes entrenamientos por medio del proyector. HIIT está <br>
      indicado para quien desea perder peso y acelerar su metabolismo, haciendo que el cuerpo <br>
      continúe quemando calorías incluso horas después del entrenamiento.</p>
  </div>
  <div class="img mt-5">
    <img src="../../assets/mancuernas2banner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart Box</h1>
    <p>Un espacio completamente dedicado al entrenamiento funcional. Con accesorios exclusivos para <br>
      trabajar el acondicionamiento del cuerpo de forma global.</p>
  </div>
  <div class="img mt-5">
    <img src="../../assets/manwomanbanner.jpg" alt="" />
  </div>
  <div fxFlex="1 1 40%" fxFlexAlign="center" class="justificado m-5">
    <h1 class="mat-h1" class="accent-color">Smart Class</h1>
    <p>Salón de clases en grupo, la mejor combinación de ejercicio con diversión. Cuenta con diferentes <br>
      disciplinas como Zumba, BodyCombat, Yoga y Clase de Abdomen y Gluteo. <br><br></p>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mat-display-3">Cónoce tu IMC <small class="text-muted">(Índice de Masa Corporal)</small></h2>
      <h4 class="mat-display-1">Esto te ayudará a saber como vas con tu cuerpo</h4>
      <form [formGroup]="forma" (ngSubmit)="calcularIMC()">
        <mat-form-field class="example-full-width">
          <mat-label>Selecciona tu sexo: </mat-label>
          <mat-select formControlName="sexo">
            <mat-option selected value="Hombre">Hombre</mat-option>
            <mat-option value="Mujer">Mujer</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Ingresa tu estatura (en mts. uno o dos puntos decimales):</mat-label>
          <input matInput #correo type="text" formControlName="estatura" required>
          <mat-error *ngIf="estatura.invalid">{{getErrorMessageE()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Ingresa tu peso (en kgs. uno o dos puntos decimales):</mat-label>
          <input matInput type="text" formControlName="peso" required>
          <mat-error *ngIf="peso.invalid">{{getErrorMessageP()}}</mat-error>
        </mat-form-field>
        <div>
          <simple-notifications></simple-notifications>
        </div>
        <button mat-raised-button color="primary" class="mt-3 block" (click)="openWindowCustomClass(IMC)">Enviar Datos</button>
        <ng-template #IMC let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Resultado de tu IMC</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>Tu IMC es de: {{res_imc | number:'1.0-2'}}</p>
            <p>Lo que te clasifica con un peso en nivel: {{res_nivel}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">
              Close
            </button>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</div>


