<div
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="30px"
  fxLayoutGap.xs="0"
>
  <div class="img">
    <img src="../../assets/curso.png" alt="" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <form
          (ngSubmit)="newClient(newClientForm.value)"
          [formGroup]="newClientForm"
          if="form"
        >
          <h2 class="mat-display-3">Registrarse</h2>
          <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <!-- <label for="exampleInputEmail1">Nombre</label> -->
            <input
              matInput
              type="text"
              formControlName="Nombre"
              placeholder="Nombre"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Apellido:</mat-label>
            <input
              matInput
              type="text"
              formControlName="Apellido"
              placeholder="Apellido"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Edad:</mat-label>
            <input
              matInput
              type="number"
              formControlName="Edad"
              placeholder="Edad"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Correo:</mat-label>
            <input
              matInput
              type="mail"
              formControlName="Correo"
              placeholder="Correo"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Contraseña:</mat-label>
            <input
              matInput
              type="password"
              formControlName="Contraseña"
              placeholder="Contraseña"
              id="contra1"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Confirmar Contraseña:</mat-label>
            <input
              matInput
              type="password"
              formControlName="Contraseña2"
              placeholder="Contraseña"
              id="contra2"
              required
            />
          </mat-form-field>
          <div class="form-group">
            <simple-notifications></simple-notifications>
          </div>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            class="block"
            [disabled]="!newClientForm.valid"
          >
            Agregar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
